__pycache__/
*.pyc

myenv/

.DS_Store
Thumbs.db

*.csv
*.log
*.sqlite3

checkpoints/
intent_classifier/classifiers/transformer_based/intent_model/model.safetensors

.env

token.json

diesel-ability-458914-q4-c7d4e19a47bb.json
credentials/